{% extends 'base.html.twig' %}

{% block title %}Ajouter une transaction{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container div-border">

        <header>
            <div class="row d-flex justify-content-between align-items-center profit">
                <div class="col">
                    <h2>Ajouter une transaction</h2>
                </div>
                <div class="col link text-right pt-3">
                    <ul class="list-unstyled d-inline-flex align-items-center">

                        <!-- Path to home page -->

                        <li><a href="{{ path('app_home') }}"><em class="fa fa-check-circle mx-3"></em></a></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Form for adding a transaction (to database) -->

        <main class="add">
            <div class="row m-3 p-3 d-flex">
                <div class="col form-group text-center">
                    {{ form_start(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.qte) }}
                    {{ form_row(form.value) }}

                    {{ form_row(form.editer, {'label': 'Ajouter'}) }}

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </main>

    </div>

{% endblock %}
